/* body color #e5eaf5 */
/* PRIMARY COLOR #ffffff
SECONDARY COLOR #334067
BUTTON COLOR  #fde8ef
BUTTON TEXT #ea3974
TERTIARY COLOR #f1f7ff
STAR COLOR #fa7c05
EMPTY STAR COLOR #dae5ff */
* {
  margin: 0;
}
body {
  margin: 0;
  background-color: #e5eaf5;
}
.MuiTabs-indicator {
  background-color: #e71d60 !important;
}
.Mui-selected	{
     color: #e71d60  !important;
     background-color: white !important;
}
.MuiTab-iconWrapper	{
    height: 1.2rem !important;
   
}
.MuiButtonBase-root	 {
    min-height: 3rem !important;
}
.MuiToggleButton-root {
    background-color: white !important;
}
.MuiButton-root:hover {
  background-color: #e5eaf5 !important;
}
.DetailBackground {
  background: url();
}
.swiper-pagination-bullet-active {
 background-color: #e71d60; 
}